<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ios.installer.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="GRADSHOWAPP"/>
<stringAttribute key="appid" value="com.humberinteractive.app"/>
<stringAttribute key="certificate" value="Andrew Apperley (98UL8MBG2F)"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/GRADSHOWAPP"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.capture_output" value="true"/>
<stringAttribute key="sdk_version" value="5.1"/>
<stringAttribute key="uuid" value="B3F571C7-91A0-4467-BA96-43576EF540F0"/>
</launchConfiguration>
