<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.ui.ios.simulator.launchConfigurationType">
<booleanAttribute key="ATTR_CLEAN_BEFORE_LAUNCH" value="false"/>
<stringAttribute key="ATTR_LOG_LEVEL" value="Info"/>
<stringAttribute key="ATTR_PROJECT_NAME" value="com.poetryslam"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/com.poetryslam"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<booleanAttribute key="retina_display" value="false"/>
<stringAttribute key="sdk_version" value="6.0"/>
<stringAttribute key="sim_device" value="iPhone"/>
</launchConfiguration>
