<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.appcelerator.titanium.mobile.android.simulator.launchConfigurationType">
<stringAttribute key="ATTR_PROJECT_NAME" value="test"/>
<stringAttribute key="screen_type" value="HVGA"/>
<stringAttribute key="sdk_version" value="Android 4.0"/>
</launchConfiguration>
